body {
  line-height: 2em;
}

h1 {
  color: red;
}

.rotated {
  transform: rotate(20deg);
}

.imgsize {
  max-height: 60vmin;
}

h1 {
  font-family: "Lucida Sans Typewriter";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h2 {
  font-family: "Lucida Sans Typewriter";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: "Lucida Sans Typewriter";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Lucida Sans Typewriter";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}
blockquote {
  font-family: "Lucida Sans Typewriter";
  font-size: 21px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 30px;
}
pre {
  font-family: "Lucida Sans Typewriter";
  font-size: 13px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 18.5714px;
}

#navmenu{
  margin: auto
}

