#navmenu {
  margin: auto;
}

h1 {
  font-family: "Lucida Sans Typewriter";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-family: "Lucida Sans Typewriter";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: "Lucida Sans Typewriter";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p {
  font-family: "Lucida Sans Typewriter";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

.imgsize {
  max-height: 60vmin;
}

.rotated {
  animation: rotate 2s;
  animation-fill-mode: forwards;
}


#indeximg {
  animation: fadeIn 0.6s;
  animation-fill-mode: forwards;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(20deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
