#navmenu {
  margin: auto;
}

h1 {
  font-family: "American Typewriter";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h2 {
  font-family: "American Typewriter";
  font-size: 30px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}

h3 {
  font-family: "American Typewriter";
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}

p,
a,
li {
  font-family: "American Typewriter";

  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 2em;
}

.imgsize {
  max-height: 60vmin;
}

.center {
  text-align: center;
  margin: auto;
}

.rotated {
  animation: rotate 2.6s ease-in-out;
  animation-fill-mode: forwards;
  box-shadow: 10px 10px grey;
}

#indeximg {
  animation: fadeIn 0.6s;
  animation-fill-mode: forwards;
}

a img:hover {
  filter: invert(50%);
  transform: scaleY(-1);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-20deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
