<div class='row'>
    <img class='img-fluid rotated' src="img/about.jpg">
</div>
<div class='row'>
    <div class='col-md-6'></div>
    <div class='col-md-6'>
        <h2>remember how you hated writing book reports?</h2>
    </div>
</div>

<div class='row'>
    <div class='col-md-7'>
        <p>
            We love English in all its forms, written or spoken.

            That's why, since 1988, we've been turning our affection for words into award-winning, multifaceted marketing and public relations campaigns for some of the world's best-known organizations, from Apple to the United Nations.

            We seamless move from the traditional -- writing for brochures, reports, newsletters and journals, print and broadcast ads -- with the digital -- mobile, social media, e-mail, videos, blogs, websites -- to produce communications of concision, precision, and impact.

            We take our writing assignments seriously.

            We don't look for shortcuts.

        </p>
    </div>
    <div class='col-md-5'>

    </div>
</div>